<div class="clear"></div>
<div id="footer">
  <div class="search_spacer">&nbsp;</div>
  <div class="links">
    <a href="mailto:contact@jeero.in?subject=Enquiry">Contact Us</a>|
    <a href="http://blog.jeero.in">Blog</a>|
    <a href="mailto:feedback@jeero.in?subject=Feedback">Feedback</a>|
    <a href="/privacy">Privacy Policy</a>
  </div> 
  <div class="copyright">
    Copyright © 2010 Jeero Group. All right reserved
  </div>
</div>

