<div class="no_results">
	<p>Your search - <%= q %> - did not match any documents.</p>
	<p>
		<ol>
		   <li>Make sure all words are spelled correctly.</li>
		   <li>Try different keywords.</li>
		   <li>Try more general keywords.</li>
		   <li>Search results may be temporarily unavailable, please try later.</li>
		</ol>
	</p>
</div>
